[submodule "freestnd-c-hdrs"]
	path = freestnd-c-hdrs
	url = https://github.com/osdev0/freestnd-c-hdrs-0bsd.git
[submodule "cc-runtime"]
	path = cc-runtime
	url = https://github.com/osdev0/cc-runtime.git
[submodule "picoefi"]
	path = picoefi
	url = https://github.com/PicoEFI/PicoEFI.git
[submodule "nanoprintf"]
	path = nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git
[submodule "seabios"]
	path = seabios
	url = https://github.com/slartibardfast/seabios-csmwrap-xp-x64.git
[submodule "uACPI"]
	path = uACPI
	url = https://github.com/uACPI/uACPI.git
[submodule "flanterm"]
	path = flanterm
	url = https://github.com/Mintsuki/Flanterm.git
